.from-other-detail {
    background: var(--background-color);

    .toolbar {
        --border-width: 0;

        .back-button {
            position: absolute;
        }
    }
}

.from-mate-detail {
    box-shadow: 0px 3px 6px #00000029;
    background: #ffffff;

    .toolbar {
        --background: #ffffff;
        --border-width: 0;

        .back-button {
            --ion-toolbar-color: #000;
            font-size: 15px;
        }
    }
}