$containerPaddingX: 37px;

.login-page {
  --background: var(--background-color);
  --padding-start:#{$containerPaddingX};
  --padding-end:#{$containerPaddingX};
  --color: var(--text-color);

  .title {
    margin-bottom: 36px;
    margin-top: 119px;
    line-height: 33px;
    font-weight: bold;
    font-size: 24px;
  }


  .divider {
    align-items: center;
    text-align: center;
    margin: 25px 0;
    display: flex;

    span {
      background: #C0DCEA;
      height: 1px;
      flex: 1;
    }

    p {
      line-height: 22px;
      color: #6E848F;
      margin: 0 18px;
    }
  }

  .connect-text {
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
  }

  .social-buttons {
    justify-content: center;
    display: flex;
    gap: 20px;

    .facebook {
      color: #0866ff;
      font-size: 26px;
    }
  }
}

.footer {
  &-toolbar {
    --background: var(--background-color);
    --border-color: #C0DCEA;
  }

  &-text {
    text-align: center;
    font-weight: bold;
    color: #F38756;
    font-size: 16px;
  }

}