<ion-content class="ion-padding login-page">

  <h2 class="title">Log In</h2>

  <ionic-input label="Email" type="email" name="email" [value]="getVal('emails')"
    (valueChange)="setVal('emails', $event)">
  </ionic-input>

  <ionic-input label="Password" type="password" name="password" [value]="getVal('password')"
    (valueChange)="setVal('password', $event)">
  </ionic-input>

  <ionic-button (ionClick)="next()">Next</ionic-button>

  <!-- Divider -->
  <div class="divider">
    <span></span>
    <p>or</p>
    <span></span>
  </div>

  <!-- Social Login -->
  <p class="connect-text">Connect With</p>
  <div class="social-buttons">
    <ionic-button fill="clear" dynamicClass="social-btn" (ionClick)="loginViaGoogle()">
      <ion-img src="assets/icon/social/google.svg" alt="google"></ion-img>
    </ionic-button>

    <ionic-button fill="clear" dynamicClass="social-btn">
      <ion-icon [icon]="icons.logoFacebook" class="facebook"></ion-icon>
    </ionic-button>

    <ionic-button fill="clear" dynamicClass="social-btn">
      <ion-img src="assets/icon/social/instagram.svg" alt="instagram"></ion-img>
    </ionic-button>

  </div>
</ion-content>
<ion-footer class="footer">
  <ion-toolbar class="footer-toolbar">
    <ion-title class="footer-text" [routerLink]="['/signup']">Create a Sportzmate Account</ion-title>
  </ion-toolbar>
</ion-footer>