$containerPaddingX: 25px;

.interest-detail {
    padding-right:#{$containerPaddingX};
    padding-left:#{$containerPaddingX};
    margin-top: 90px;

    .title {
        font-weight: bold;
        line-height: 33px;
        margin-top: 0px;
    }

    .sports-container {
        grid-template-columns: repeat(3, 1fr);
        justify-items: stretch;
        align-items: stretch;
        margin-top: 50px;
        display: grid;
        gap: 12px;

        .interest-chip {
            border: 1px solid #707070;
            justify-content: center;
            --background: #ffffff;
            --color: #000000;
            font-size: 16px;
            width: 100%;

            &.selected {
                border: 1px solid var(--ion-color-primary-fade);
                background-color: var(--ion-color-primary);
                --color: #ffffff;
            }
        }
    }
}

.footer {
    padding-right:#{$containerPaddingX};
    padding-left:#{$containerPaddingX};
    margin-bottom: 25px;
}