<div class="outer-container">
  <h2 class="title"> What Sport are<br> you interested in ?</h2>

  <div class="sports-container">
    @for (sport of sports; track sport) {
    <ion-chip class="interest-chip" [class.selected]="selectedSports.includes(sport)"
      (click)="toggleSportSelection(sport)">{{sport}}</ion-chip>
    }
  </div>
</div>

<ion-footer class="footer">
  <ion-nav-link router-direction="forward" [component]="profileComponent">
    <ionic-button>Continue</ionic-button>
  </ion-nav-link>
</ion-footer>