<div class="outer-container">
  <h2 class="title"> What Sport are<br> you interested in ?</h2>

  <div class="sports-container">
    @for (sport of sports; track sport) {
    <ionic-chip (ionClick)="toggleSportSelection(sport)"
      [dynamicClass]="{'interest-chip' : true, 'selected':selectedSports.includes(sport)}">
      {{sport}}
    </ionic-chip>
    }
  </div>
</div>

<ion-footer class="footer">
  <ion-nav-link router-direction="forward" [component]="profileComponent">
    <ionic-button>Continue</ionic-button>
  </ion-nav-link>
</ion-footer>