$containerPaddingX: 25px;
$genderColor: #F38756;
.header{
    background: var(--background-color);
    
}
.gender-detail {
    padding-right:#{$containerPaddingX};
    padding-left:#{$containerPaddingX};
    margin-top: 90px;


    .title {
        margin-bottom: 40px;
        font-weight: bold;
    }

    .gender-grid {
        margin-bottom: 100px;

        .gender-card {
            border: 2px solid $genderColor;
            transition: all 0.3s ease;
            border-radius: 12px;
            position: relative;
            padding: 10px;

            ion-img {
                margin: 0 auto;
                height: 120px;
                width: auto;
            }

            .gender-title {
                font-weight: bold;
                color: #000000;
                margin-top: 8px;
            }

            .radio-circle {
                border: 2px solid $genderColor;
                background-color: #ffffff;
                justify-content: center;
                align-items: center;
                position: absolute;
                border-radius: 50%;
                display: flex;
                height: 22px;
                width: 22px;
                right: 8px;
                top: 8px;

                ion-icon {
                    color: $genderColor;
                    font-size: 25px;
                }
            }

            &.selected {
                background-color: $genderColor;

                p {
                    color: #ffffff;
                }
            }
        }

    }
}