<div class="outer-container">
  <h2 class="title">Profile Details</h2>
  <div class="profile-placeholder">
    <ion-img src="assets/icon/signup/profile.png" alt="profile-placeholder"></ion-img>
  </div>

  <div class="profile-details-container">
    <ionic-input label="User Name" [(ngModel)]="userName" name="userName"></ionic-input>
    <country-dropdown (countryChange)="onCountryChange($event)"></country-dropdown>
  </div>
</div>

<ion-footer class="footer">
  <ionic-button>Confirm</ionic-button>
</ion-footer>