.row-container {

    .mate-img {
        box-shadow: 0px 1px 4px 1px #628b9f4d;
        --border-radius: 18px;
    }

    .name-place {
        font-weight: bold;
        font-size: 15px;
        display: block;
    }
}