<ion-row class="row-container">
  <ion-col size="auto">
    <ion-thumbnail class="mate-img" (click)="profileInfo()">
      <ion-img [src]="commonService.showProfileImage(mate()?.profileImage)" alt="profile"></ion-img>
    </ion-thumbnail>
  </ion-col>
  <ion-col class="detail-container">
    <!-- {{mate() | json}} -->
    <ion-text class="name-place">{{mate()?.name}}</ion-text>
    <app-accept-or-reject (approvalClickEmit)="acceptOrRejectEmit($event)"></app-accept-or-reject>
  </ion-col>
   <ion-col size="auto">
     <ion-icon size="large" [icon]="icons.chatbubbleEllipsesOutline" color="primary" (click)="openChat(mate().currentUid)"></ion-icon>
  </ion-col>
</ion-row>