.header {
    background: var(--background-color);
    box-shadow: none;

    .toolbar {
        --background: var(--background-color);
        --border-width: 0;

        .back-button {
            position: absolute;
        }
    }
}

.other-details-page {
    --background: var(--background-color);
    --color: var(--text-color);
    text-align: center;

}

ion-range {
    --bar-background-active: #6E848F;
    --bar-background: #C0DCEA;
    --bar-border-radius: 10px;
    --bar-height: 14px;
    --knob-size: 0px;

    &.range-bar {
        pointer-events: none;
        margin: auto;
        width: 130px;
    }
}