$containerPaddingX: 0px;

.chat-page {
    --background: var(--background-color);
    --padding-start:#{$containerPaddingX};
    --padding-end:#{$containerPaddingX};

    .chat-wrapper {
        overflow: hidden;
        width: 100%;
        height: 100vh;
        position: relative;

        .chat-outer-container {
            overflow: hidden;
            width: 100%;
            height: 100vh;
            position: relative;
            display: flex;

            .chat-inner-container {
                position: relative;
                flex-direction: column;
                display: flex;
                width: 100%;
                height: 100%;

                .message-outer-container {
                    position: relative;
                    overflow-y: auto;
                    padding: 16px;
                    flex: 1 1 0%;

                    > :not([hidden])~ :not([hidden]) {
                        margin-bottom: 0px;
                        margin-top: 8px;
                    }

                    .message-inner-container {
                        margin-bottom: 4px;
                        display: flex;

                        &.reciever {
                            justify-content: flex-start;
                        }

                        &.sender {
                            justify-content: flex-end;
                        }
                    }

                    .message-container {
                        position: relative;
                        max-width: 85%;
                        padding: 6px 8px;
                        border-radius: 8px;
                        font-size: 14px;
                        line-height: 1.625;
                        box-shadow: #00000000 0px 0px 0px 0px;

                        &.sender {
                            border-top-right-radius: 0px;
                            background-color: var(--ion-color-primary);
                        }

                        &.reciever {
                            background: #ffffff;
                            border-top-left-radius: 0px;
                        }

                        .triangle {
                            position: absolute;
                            top: 0;
                            width: 0;
                            height: 0;
                            border-width: 6px;
                            border-color: transparent;

                            &.sender {
                                right: -8px;
                                border-top-color: var(--ion-color-primary);
                                border-right-color: var(--ion-color-primary);
                            }

                            &.reciever {
                                left: -8px;
                                border-top-color: #ffffff;
                                border-right-color: #ffffff;
                            }
                        }

                        .message {
                            padding-left: 4px;
                            padding-right: 4px;
                            overflow-wrap: break-word;
                            white-space: pre-wrap;

                            &.sender {
                                color: #ffffff;
                            }

                            &.reciever {
                                color: #111b21;
                            }
                        }

                        .time-container {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                            gap: 4px;
                            min-width: 50px;
                            margin-top: -4px;

                            .timing {
                                font-size: 11px;
                                padding-top: 4px;

                                &.sender {
                                    color: var(--ion-color-primary-fade);
                                }

                                &.reciever {
                                    color: #667781;
                                }
                            }

                            .tick {
                                color: var(---ion-color-secondary);
                                font-size: 16px;
                            }
                        }
                    }
                }

                .emoji-wrapper {
                    position: absolute;
                    bottom: 80px;
                    right: 0px;
                    width: 288px;
                    height: 256px;
                    display: flex;
                    left: 16px;
                    z-index: 50;
                    background: white;
                    transition-duration: 200ms;
                    box-shadow: #00000000 0px 0px 0px;
                    border-radius: 8px;
                    flex-direction: column;
                    border: 1px solid #e5e7eb;

                    .icon-text-container {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 4px 12px;
                        background-color: #f3f4f6;

                        .icon-text {
                            color: #6b7280;
                            font-size: 12px;
                            line-height: 16px;
                            letter-spacing: 0.3px;
                            font-weight: 600;
                        }

                        .icon-close {
                            color: #9ca3af;
                            font-size: 23px;
                        }
                    }

                    .emoji-container {
                        padding: 8px;
                        gap: 4px;
                        overflow-y: auto;
                        grid-template-columns: repeat(6, minmax(0, 1fr));
                        flex: 1 1 0%;
                        display: grid;

                        .emoji {
                            font-size: 24px;
                            line-height: 32px;
                            padding: 6px;
                            border-radius: 4px;
                            justify-content: center;
                            align-items: center;
                            width: 40px;
                            height: 40px;
                            display: flex;
                            cursor: pointer;
                        }
                    }
                }

                .input-wrapper {
                    position: relative;
                    z-index: 10;
                    padding: 8px 16px;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    bottom: 10px;

                    .icon-container {
                        padding: 4px;
                        font-size: 25px;
                        color: #54656f;

                        &.primary {
                            color: var(--ion-color-primary);
                        }
                    }

                    .input-box {
                        display: flex;
                        flex: 1 1 0%;
                    }

                }


                .transition-colors {
                    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
                    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                    transition-duration: 150ms;
                }


                .fade-in {
                    animation-name: fadeIn;
                    animation-duration: 0.5s;
                    animation-fill-mode: both;
                }

                @keyframes fadeIn {
                    from {
                        opacity: 0;
                    }

                    to {
                        opacity: 1;
                    }
                }

                .slide-in {
                    animation-name: slideIn;
                    animation-duration: 0.5s;
                    animation-fill-mode: both;
                }

                @keyframes slideIn {
                    from {
                        transform: translateY(8px);
                    }

                    to {
                        transform: translateY(0);
                    }
                }


                .animate-in {
                    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
                }

            }
        }
    }
}