@use "../mate";

.map-page {
  --ion-background-color: #f6f7fb;
  position: relative;
  padding: 0;
}

#map.map {
  height: calc(100vh - 150px);
  width: 100%;
}

.bottom-area {
  pointer-events: auto;
  padding: 8px 14px;
  position: fixed;
  bottom: 16px;
  right: 0;
  left: 0;

  .cards-wrapper {
    scroll-snap-type: x mandatory;
    padding-bottom: 6px;
    padding-right: 6px;
    padding-left: 6px;
    overflow-x: auto;
    display: flex;
    gap: 12px;

    .card {
      box-shadow: 0 6px 18px #14142814;
      transition: transform 0.16s ease;
      scroll-snap-align: center;
      border-radius: 12px;
      background: #fff;
      min-width: 300px;
      cursor: pointer;
      padding: 5px;

      .row-container {
        .mate-img {
          --border-radius: 50%;
          --size: 50px;
        }
      }

      &:hover {
        transform: translateY(-4px);
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}