<ion-content class="map-page">

  <div #mapRef id="map" [class]="{'map' : visiblePlayers().length}"></div>
  @if(visiblePlayers().length){
  <div class="bottom-area">
    <div class="cards-wrapper" #carouselRef (scroll)="onCarouselScroll()">
      @for(item of visiblePlayers(); track item.id){
      <div class="card" id="{{'card-' + item.id}}" (click)="openMateDetail(item.id)">
        <div class="left">
          <img class="avatar" [src]="item.profileImg" />
          <div class="badge">{{ gameEmoji(item.sport) }}</div>
        </div>
        <div class="right">
          <div class="name">{{item.name}}</div>
          <div class="meta">{{ item.sport }} • {{ item.distanceKm }} km</div>

          <div class="actions">
            <button class="btn-interested">Interested 👍</button>
            <button class="btn-chat">Chat 💬</button>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
  }@else {
  <app-no-mate-found></app-no-mate-found>
  }

</ion-content>