 .chat-container {
     height: 100%;
     padding: 10px;
 }

 .msg {
     padding: 8px;
     margin: 5px 0;
     background: #ddd;
     border-radius: 10px;
     max-width: 70%;
 }

 .msg.mine {
     background: #4caf50;
     color: white;
     margin-left: auto;
 }

 .input-box {
     position: fixed;
     bottom: 0;
     width: 100%;
     display: flex;
     padding: 10px;
     background: white;
     left: 0px;
 }

 input {
     flex: 1;
     padding: 10px;
     border-radius: 5px;
 }