<div class="list-scroll-container">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  @if(sportsMateList.length){

  <ion-list class="sports-mate-list">
    @for (item of sportsMateList; track item; let index = $index) {
    <ion-item (click)="openMateDetail(item.id)">
      <ion-thumbnail class="mate-img">
        <img alt="profile" [src]="'https://randomuser.me/api/portraits/women/' + item.id + '.jpg'" />
      </ion-thumbnail>

      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-label class="name-text">{{item.name}}, {{item.location}}</ion-label>
            <div class="time-wrapper">
              <ion-icon [icon]="icons.calendarClear"></ion-icon>
              <ion-label class="time-text">{{item.eventDateTime}}</ion-label>
            </div>
            <div class="badge-wrapper">
              <ion-badge class="primary"><ion-icon [icon]="icons.peopleOutline"></ion-icon> 4</ion-badge>
              <ion-badge class="secondary"><ion-icon [icon]="icons.peopleOutline"></ion-icon> 4</ion-badge>
            </div>
          </ion-col>
          <ion-col class="game-detail">
            <ion-badge class="distanceOrDuration">{{item.distanceOrDuration}}</ion-badge>
            <ion-icon [icon]="icons.bicycleOutline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    }
  </ion-list>

  }@else {

  <div class="oops-container">
    <img src="https://cdn-icons-png.flaticon.com/512/4076/4076549.png" alt="No Mates" class="oops-img" />
    <div class="oops-text">
      <h2>OOPS !</h2>
      <p>No Mates Found</p>
    </div>
  </div>

  <ionic-button dynamicClass="create-invite" (ionClick)="createInvitation()" [fill]="'outline'"
    color="secondary"><ion-icon [icon]="icons.add"></ion-icon> Create a Invitation</ionic-button>
  }
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</div>