<ion-content>
  @if(visiblePlayers().length){
  <cdk-virtual-scroll-viewport itemSize="90" class="virtual-scroll-container" [minBufferPx]="185" [maxBufferPx]="365">
    <ion-list class="sports-mate-list">
      <ion-grid class="primary-details" *cdkVirtualFor="let item of visiblePlayers(); trackBy: trackById"
        (click)="openMateDetail(item.id)">
        <ion-row class="row-container">
          <ion-col size="auto">
            <ion-thumbnail class="mate-img">
              <ion-img alt="profile" [src]="item.profileImg"></ion-img>
            </ion-thumbnail>
          </ion-col>
          <ion-col class="detail-container">
            <ion-label class="name-place">{{item.name}}, {{item.location}}</ion-label>
            <div class="time-wrapper">
              <ion-icon [icon]="icons.calendarClear"></ion-icon>
              <ion-label class="time-text">{{item.eventDateTime | localTime:DATE_FORMATS.DAY_MONTH_TIME }}</ion-label>
            </div>
            <div class="badge-wrapper">
              <ionic-badge dynamicClass="members-cnt primary">
                <ion-icon [icon]="icons.peopleOutline" class="members-cnt-icon"></ion-icon> {{item.requiredMembers}}
              </ionic-badge>
              <ionic-badge dynamicClass="members-cnt secondary">
                <ion-icon [icon]="icons.peopleOutline" class="members-cnt-icon"></ion-icon> {{item.confirmedMembers}}
              </ionic-badge>
            </div>
          </ion-col>
          <ion-col size="auto" class="game-detail">
            <ionic-badge dynamicClass="distanceOrDuration">{{item.distanceOrDuration}}</ionic-badge>
            <ion-icon [icon]="icons.bicycleOutline"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </cdk-virtual-scroll-viewport>
  }@else {
  <app-no-mate-found></app-no-mate-found>
  }

</ion-content>