<app-header headerClass="from-mate-detail" (backClicked)="handleBack()">

  <ion-title class="header-title" slot="start">{{mate?.sport}}</ion-title>
</app-header>

<ion-content class="ion-padding mate-detail-page">

  <div class="primary-details">
    <ion-thumbnail class="mate-img">
      <img alt="profile" [src]="'https://randomuser.me/api/portraits/women/' + mate?.id + '.jpg'" />
    </ion-thumbnail>

    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <ion-label class="name-text">{{mate?.name}}, {{mate?.location}}</ion-label>
          <div class="time-wrapper">
            <ion-icon [icon]="icons.calendarClear"></ion-icon>
            <ion-label class="time-text">{{mate?.time}}</ion-label>
          </div>
        </ion-col>
        <ion-col class="game-detail">
          <ion-badge class="distanceOrDuration">{{mate?.distanceOrDuration}}</ion-badge>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="cards-container">
    <div class="info-card">
      <div class="reqd-circle">
        <span class="count">{{mate?.requiredMembers}}</span>
      </div>
      <div class="label">Total Members</div>
    </div>

    <div class="info-card">
      <div class="profile-stack">
        <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="profile" class="profile-pic first" />
        <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="profile" class="profile-pic second" />
        <div class="extra third">3+</div>
      </div>
      <div class="label">Vacancy</div>
    </div>

    <div class="info-card reduce-width">
      <ion-icon [icon]="icons.calendarOutline"></ion-icon>
      <div class="label">OCT 18</div>
    </div>

    <div class="info-card reduce-width">
      <ion-icon [icon]="icons.timeOutline"></ion-icon>
      <div class="label">4 PM</div>
    </div>

  </div>

  <div class="description-container">
    <div class="title">Description</div>
    <div class="content">{{mate?.description}}</div>
  </div>
  <div class="spacer"></div>

  <div class="members-container">
    <div class="title">Members</div>

    <div class="profile-container">
      <div class="profile-item active">
        <img src="https://randomuser.me/api/portraits/women/65.jpg" alt="profile" />
        <ion-icon [icon]="icons.mailOpenOutline" class="mail-icon"></ion-icon>
      </div>

      <div class="profile-item">
        <img src="https://randomuser.me/api/portraits/women/75.jpg" alt="profile" />
      </div>

      <div class="profile-item">
        <img src="https://randomuser.me/api/portraits/women/25.jpg" alt="profile" />
      </div>

      <div class="profile-item">
        <img src="https://randomuser.me/api/portraits/women/10.jpg" alt="profile" />
      </div>

      <div class="profile-item">
        <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="profile" />
      </div>

      <div class="profile-item">
        <img src="https://randomuser.me/api/portraits/women/35.jpg" alt="profile" />
      </div>


      <div class="profile-item">
        <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="profile" />
      </div>

      <div class="profile-item">
        <img src="https://randomuser.me/api/portraits/women/35.jpg" alt="profile" />
      </div>

      <div class="profile-item">
        <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="profile" />
      </div>

      <div class="profile-item">
        <img src="https://randomuser.me/api/portraits/women/35.jpg" alt="profile" />
      </div>

    </div>
  </div>

</ion-content>
<ion-footer class="footer">
  <ionic-button>I'm Interested</ionic-button>
</ion-footer>