<ion-content class="invite-sheet">

 <ion-item lines="none" class="input-item">
    <ion-icon name="person-outline" slot="start"></ion-icon>

    <ion-input placeholder="Invite Name" [value]="getVal('eventName')"
      (ionInput)="setVal('eventName', $event.detail.value)">
    </ion-input>
  </ion-item>

  <ion-item lines="none" class="input-item">
  <ion-icon name="fitness-outline" slot="start"></ion-icon>
  <ionic-select placeholder="Select sport" [options]="sportOptions()" [value]="getVal('sportIdFk')" [hideArrow]="true"
    (valueChange)="onSportSelected($event)" />
  </ion-item>

  <ion-item lines="none" class="input-item">
    <ion-icon name="location-sharp" slot="start"></ion-icon>
    <google-location-input (locationSelected)="onLocationSelected($event)" (locationCleared)="onLocationCleared()" />
  </ion-item>

  <ion-item lines="none" class="input-item">
    <ion-icon name="calendar-clear-outline" slot="start"></ion-icon>
    <ion-input placeholder="Date & Time" readonly [value]="formattedDateTime()"
      (click)="openDateTimePickerModel()"></ion-input>
  </ion-item>

  <ion-row>
    <ion-col size="10">
      <ion-item lines="none" class="input-item">
    <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input placeholder="No. of Players Required" type="number" [value]="getVal('totalVacancy')"
          (ionInput)="updatePlayersFromInput($event)"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col class="button-container" size="2">
      <ionic-button [iconOnly]='true' shape='round' expand="default" size="small" fill="outline"
        [disabled]="form().totalVacancy <= MIN_PLAYERS" (ionClick)="updatePlayers()">
    <ion-icon class="players-icon" name="caret-down-outline"></ion-icon>
      </ionic-button>
      <ionic-button [iconOnly]='true' shape='round' expand="default" size="small" fill="outline"
        [disabled]="form().totalVacancy >= MAX_PLAYERS" (ionClick)="updatePlayers(true)">
    <ion-icon class="players-icon" name="caret-up-outline"></ion-icon>
      </ionic-button>
    </ion-col>
  </ion-row>

  <ion-item lines="none" class="input-item textarea">
    <ion-textarea placeholder="Description" [value]="getVal('eventDesc')" maxlength="100"
      (ionInput)="setVal('eventDesc', $event.detail.value)"></ion-textarea>
  </ion-item>

  <ionic-button (ionClick)="submit()">Post</ionic-button>
</ion-content>