$containerPaddingX: 16px;

ion-content {
  --padding-start: #{$containerPaddingX};
  --padding-end: #{$containerPaddingX};
  --background: #fff;
  --padding-top: 40px;
}

.invite-sheet {
  color: #000;
  height: auto;

  .input-item {
    --background: #f5f5f5;
    margin-bottom: 10px;
    border-radius: 12px;
  }

  .button-container {
    justify-content: center;
    padding-top: 10px;
    display: flex;
  }

  .textarea {
    --min-height: 80px;
  }

  .players-icon{
    margin: 0;
  }
}


ion-icon {
  display: inline-block !important;
  color: var(--ion-color-primary) !important;
}