ion-content {
  --padding-start: 16px;
  --background: #fff;
  --padding-end: 16px;
  --padding-top: 40px;
}

.invite-sheet {
  color: #000;
  height: auto;

  .sheet-img {
    margin: 0 auto 16px auto;
    display: block;
    width: 100px;
  }

  .input-item {
    --background: #f5f5f5;
    margin-bottom: 10px;
    border-radius: 12px;
  }
  .button-container{
    justify-content: center;
    padding-top: 10px;
    display: flex;
  }

  .textarea {
    --min-height: 80px;
  }
}