<ion-content class="invite-sheet">
  <ion-img src="https://ionicframework.com/docs/img/demos/thumbnail.svg" alt="invite" class="sheet-img"></ion-img>
  <ion-item lines="none" class="input-item">
    <ion-icon [icon]="icons.personOutline" slot="start"></ion-icon>
    <ion-input placeholder="Invite Name" [value]="getVal('eventName')" (ionInput)="setVal('eventName', $event.detail.value)">
    </ion-input>
  </ion-item>

  <ion-item lines="none" class="input-item">
    <ion-icon [icon]="icons.locationSharp" slot="start"></ion-icon>
    <ion-input placeholder="Choose the Location" [value]="getVal('location')"
      (valueChange)="setVal('location', $event)"></ion-input>
  </ion-item>

  <ion-item lines="none" class="input-item">
    <ion-icon [icon]="icons.calendarClearOutline" slot="start"></ion-icon>
    <ion-input placeholder="Date & Time" readonly [value]="formattedDateTime()"
      (click)="openDateTimePickerModel()"></ion-input>
  </ion-item>

  <ion-row>
    <ion-col size="10">
      <ion-item lines="none" class="input-item">
        <ion-icon [icon]="icons.personOutline" slot="start"></ion-icon>
        <ion-input placeholder="No of Players" type="number" [value]="getVal('players')"
          (ionInput)="updatePlayersFromInput($event)"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col class="button-container" size="2">
      <ionic-button shape='round' expand="default" size="small" fill="outline"
        [disabled]="form().players <= MIN_PLAYERS" (ionClick)="updatePlayers()">
        <ion-icon slot="icon-only" [icon]="icons.caretDownOutline"></ion-icon>
      </ionic-button>
      <ionic-button shape='round' expand="default" size="small" fill="outline"
        [disabled]="form().players >= MAX_PLAYERS" (ionClick)="updatePlayers(true)">
        <ion-icon slot="icon-only" [icon]="icons.caretUpOutline"></ion-icon>
      </ionic-button>
    </ion-col>
  </ion-row>

  <ion-item lines="none" class="input-item textarea">
    <ion-textarea placeholder="Description" [value]="getVal('description')" maxlength="100"
      (ionInput)="setVal('description', $event.detail.value)"></ion-textarea>
  </ion-item>

  <ionic-button class="post-btn" (ionClick)="submit()">Post</ionic-button>
</ion-content>