// Primary color palette
$primary-color: #FF4E18;
$primary-fade-color: #F38756;
$secondary-color: #628B9F;
$success-color: #10dc60;
$warning-color: #ffce00;
$danger-color: #f04141;

// Grey shades
$grey-100: #f7f7f7;
$grey-200: #e0e0e0;
$grey-300: #c0c0c0;
$grey-400: #909090;
$grey-500: #606060;
