// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
@use "sass:color";
@use 'colors' as *;
@use 'typography' as *;

:root {
  --ion-color-primary: #{$primary-color};
  --ion-color-primary-rgb: 255, 78, 24;

  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #{color.mix(black, $primary-color, 12%)};
  --ion-color-primary-tint: #{color.mix(white, $primary-color, 10%)};


  --ion-color-primary-fade: #{$primary-fade-color};
  --ion-color-secondary: #{$secondary-color};
  --ion-color-success: #{$success-color};
  --ion-color-warning: #{$warning-color};
  --ion-color-danger: #{$danger-color};

  --ion-font-family: #{$font-family-base};
  --ion-font-size-base: #{$font-size-base};
}