// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

@use 'colors' as *;
@use 'typography' as *;

:root {
  --ion-color-primary: #{$primary-color};
  --ion-color-secondary: #{$secondary-color};
  --ion-color-success: #{$success-color};
  --ion-color-warning: #{$warning-color};
  --ion-color-danger: #{$danger-color};

  --ion-font-family: #{$font-family-base};
  --ion-font-size-base: #{$font-size-base};
}
