<ion-tabs>
  <ion-tab-bar slot="bottom" [class.hide-tabs]="!showTabs()">
    <ion-tab-button tab="home">
      <ion-icon [icon]="icons.homeSharp"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="chat">
      <ion-icon [icon]="icons.chatbubblesSharp"></ion-icon>
      Chat
    </ion-tab-button>
    <div class="fab-space"></div>

    <ion-tab-button tab="invites">
      <ion-icon [icon]="icons.mailOpenSharp"></ion-icon>
      Invites
    </ion-tab-button>
    <ion-tab-button tab="events">
      <ion-icon [icon]="icons.menuOutline"></ion-icon>
      Events
    </ion-tab-button>
  </ion-tab-bar>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" [class.hide-tabs]="!showTabs()" class="center-fab">
    <ion-fab-button color="primary" (click)="createNewInvite()">
      <ion-icon [icon]="icons.add" class="add-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-tabs>
