<ion-content class="ion-padding home-page" fixed-slot-placement="before" scroll-y="false">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="heading-container">
    <ion-title class="title">Choose Your<br> Sports Mate Today !</ion-title>
    <div class="profile-container">
      <ion-avatar class="profile-wrapper">
        <ion-img src="assets/icon/signup/profile.png" alt="user" class="profile-pic"></ion-img>
      </ion-avatar>
      <div class="online-indicator"></div>
      <div class="icon-overlay">
        <ion-icon [icon]="icons.navigateCircleOutline"></ion-icon>
      </div>
    </div>
  </div>

  <ionic-input placeholder="Search Invites" [(ngModel)]="rawSearchTerm" dynamicClass="mate-search" [clearInput]="true"></ionic-input>

  <ion-segment [(ngModel)]="segmentView" class="segment-wrapper">
    <ion-segment-button value="list" content-id="list">
      <ion-label>List View</ion-label>
    </ion-segment-button>
    <ion-segment-button value="map" content-id="map">
      <ion-label>Map View</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-segment-view>
    <ion-segment-content id="list" value="list">
      @if(segmentView() === 'list'){
      <div class="text-wrapper">
        <p>Based on your current Location </p>
        <ion-icon [icon]="icons.navigateSharp"></ion-icon>
      </div>

      <app-mate-list-view [responseList]="visiblePlayers()"></app-mate-list-view>
      }
    </ion-segment-content>
    <ion-segment-content id="map" value="map">
      @if(segmentView() === 'map'){
      <app-mate-map-view [visiblePlayers]="visiblePlayers()" [current]="current()"></app-mate-map-view>
      }
    </ion-segment-content>
  </ion-segment-view>
  <!-- <button style="position:absolute; bottom:35px"(click)="openChat('tXNwC6ZmTgdyUGKN7S1fmvTkX2o1')">chat</button> -->
  <app-range-fab></app-range-fab>
</ion-content>