.splash-screen {
    height: 100vh;
    width: 100vw;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash-logo {
    width: 180px;
    height: auto;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
}

ion-spinner {
    margin-top: 20px;
}