$containerPaddingX: 25px;

.age-detail {
    padding-right:#{$containerPaddingX};
    padding-left:#{$containerPaddingX};
    margin-top: 90px;

    .title {
        font-weight: bold;
    }
    .content{
        line-height: 22px;
    }
}


.age-selector {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 60px 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.age-selector::-webkit-scrollbar {
  display: none;
}

.number {
  font-size: 28px;
  color: #b0b0b0;
  flex: 0 0 80px;
  text-align: center;
  scroll-snap-align: center;
  transition: all 0.3s ease;
}

.number.active {
  font-size: 36px;
  font-weight: bold;
  color: #ff7b33;
  background: white;
  border-radius: 50%;
  padding: 16px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
