@use "../other-details";
$itemWidth: 80px;
$scrollPadding: calc(50% - ($itemWidth / 2));

.outer-container {

  .content {
    line-height: 22px;
  }

  .age-selector {
    padding: 75px $scrollPadding;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    align-items: center;
    overflow-x: scroll;
    display: flex;
    gap: 24px;

    .number {
      transition: all 0.3s ease;
      scroll-snap-align: center;
      line-height: $itemWidth;
      flex: 0 0 $itemWidth;
      text-align: center;
      height: $itemWidth;
      color: #b0b0b0;
      font-size: 28px;

      &.active {
        color: var(--ion-color-primary-fade);
        box-shadow: 0 0 12px #0000001a;
        justify-content: center;
        align-items: center;
        background: white;
        height: $itemWidth;
        border-radius: 50%;
        line-height: 80px;
        width: $itemWidth;
        font-weight: bold;
        font-size: 36px;
        display: flex;
        padding: 0;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}