$icon-only-size:28.08px;
.ionic-button {
    &:not(.round) {
        --border-radius: 10px;
        height: 55px;
    }

    text-transform: none;

    &.create-invite {
        --ion-color-base: #628B9F !important;
        --border-radius: 18px;
        height: 35px;
    }

    &.social-btn {
        box-shadow: 0 2px 5px #0000001a;
        background: #fff;
        border-radius: 50%;
        height: 55px;
        width: 55px;
    }

    &.has-icon-only {
        min-width: $icon-only-size;
        min-height: $icon-only-size;
        --padding-bottom: 0;
        --padding-end: 0;
        --padding-start: 0;
        --padding-top: 0;

    }
}