<ion-content class="ion-padding invites-page" [scrollY]="false">
  <ion-segment [(ngModel)]="segmentView" class="segment-wrapper">
    <ion-segment-button value="myInvites" content-id="myInvites">
      <ion-label>My Invites</ion-label>
    </ion-segment-button>
    <ion-segment-button value="acceptInvites" content-id="acceptInvites">
      <ion-label>Accept Invites</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-segment-view>
    <ion-segment-content id="myInvites" value="myInvites">
      @if(segmentView() === 'myInvites'){
      <app-mate-list-view [responseList]="myInvitesList()"></app-mate-list-view>
      }
    </ion-segment-content>
    <ion-segment-content id="acceptInvites" value="acceptInvites">
      @if(segmentView() === 'acceptInvites'){
      <app-my-group-list [responseList]="myGroupList()"></app-my-group-list>
      }
    </ion-segment-content>
  </ion-segment-view>

</ion-content>