<ion-content class="ion-padding outer-container">
  <h2 class="title">Profile Details</h2>
  <ion-avatar style="width: 120px; height: 120px; margin: auto;" (click)="selectProfileImage()">
    @if(profileImage()){
    <img [src]="profileImage()" />
    }@else {
    <div class="profile-placeholder">
      <ion-img src="assets/icon/signup/profile.png" alt="profile-placeholder"></ion-img>
    </div>
    }
  </ion-avatar>
  <div class="profile-details-container">
    <country-dropdown (countryChange)="onCountryChange($event)"></country-dropdown>
  </div>
</ion-content>

<ion-footer class="footer">
  <ionic-button (ionClick)="confirm()">Confirm</ionic-button>
</ion-footer>