$containerPaddingX: 16px;

.header-title {
    padding-left: 10px;
    font-weight: 500;
    text-align: left;
    --color: #000;
}

.mate-detail-page {
    --padding-start:#{$containerPaddingX};
    --padding-end:#{$containerPaddingX};
}


.footer {
    padding-right:#{$containerPaddingX};
    padding-left:#{$containerPaddingX};
    background-color: white;
    padding-bottom: 25px;
    box-shadow: none;
}