<app-header headerClass="from-mate-detail" (backClicked)="handleBack()">
  <ion-title class="header-title" slot="start">{{headingText()}}</ion-title>
</app-header>

<ion-content class="ion-padding mate-detail-page">
  @if(isGroup()){
  <app-group-invite [groupId]="id()" (footerReady)="footerTpl.set($event)"
    (headingName)="headingText.set($event)"></app-group-invite>
  }@else {
  <app-mate-detail-container [mateId]="id()" (footerReady)="footerTpl.set($event)"
    (headingName)="headingText.set($event)"></app-mate-detail-container>
  }

</ion-content>


@if (footerTpl()) {
<ion-footer class="footer">
  <ng-container [ngTemplateOutlet]="footerTpl()">
  </ng-container>
</ion-footer>
}