<ion-row class="row-container" [class]="dynamicClass()">
  <ion-col size="auto">
    <ion-thumbnail class="mate-img">
      <ion-img [src]="mate()?.profileImg || 'assets/icon/signup/profile.png'" alt="profile"></ion-img>
    </ion-thumbnail>
  </ion-col>
  <ion-col class="detail-container">
    <ion-label class="name-place">{{mate()?.name}}, {{mate()?.location}}</ion-label>
    <div class="time-wrapper">
      <ion-icon [icon]="icons.calendarClear"></ion-icon>
      <ion-label class="time-text">{{mate()?.eventDateTime | localTime:DATE_FORMATS.DAY_MONTH_TIME }}</ion-label>
    </div>
    
    @if(dynamicClass() !== 'from-mate-detail'){
    <div class="badge-wrapper">
      <ionic-badge dynamicClass="members-cnt primary">
        <ion-icon [icon]="icons.peopleOutline" class="members-cnt-icon"></ion-icon> {{mate()?.totalVacancy}}
      </ionic-badge>
      <ionic-badge dynamicClass="members-cnt secondary">
        <ion-icon [icon]="icons.peopleOutline" class="members-cnt-icon"></ion-icon> {{mate()?.currentVacancy}}
      </ionic-badge>
    </div>
    }

    @if(dynamicClass() === 'from-join-requests'){
    <ionic-chip [dynamicClass]="dynamicClass()" [outline]="true" color="primary" (click)="acceptOrReject(true, $event)">
      Accept <ion-icon [icon]="icons.thumbsUpOutline"></ion-icon>
    </ionic-chip>
    <ionic-chip [dynamicClass]="dynamicClass()" [outline]="true" color="primary" (click)="acceptOrReject(false, $event)">
      Reject <ion-icon [icon]="icons.thumbsDownOutline"></ion-icon>
    </ionic-chip>
    }

  </ion-col>
  <ion-col size="auto" class="game-detail">

    <!-- @if (badgeInfo()) {
    <ionic-badge dynamicClass="badge-info">
      @if (badgeInfo()?.type === 'distance') {
      {{ badgeInfo()?.value }}
      } @else {
      <ion-icon class="chat-icon" [icon]="icons.chatboxEllipses"></ion-icon>
      <ionic-badge dynamicClass="chat-number">{{ badgeInfo()?.value }}</ionic-badge>
      }
    </ionic-badge>
    } -->

    @if(dynamicClass() !== 'from-mate-detail'){
    <ion-icon class="sport-icon" [icon]="icons.bicycleOutline"></ion-icon>
    }
  </ion-col>
</ion-row>