<ion-row class="row-container" [class]="dynamicClass()">
  <ion-col size="auto">
    <ion-thumbnail class="mate-img" [class]="{'reduceSize' : reduceSize()}" (click)="profileInfo($event)">
      <ion-img [src]="commonService.showProfileImage(mate()?.profileImage)" alt="profile"></ion-img>
    </ion-thumbnail>
  </ion-col>
  <ion-col class="detail-container">
    <ion-label class="name-place">{{mate()?.eventName}}, {{mate()?.location}}</ion-label>
    <div class="time-wrapper">
      <ion-icon [icon]="icons.calendarClear"></ion-icon>
      <ion-label class="time-text">{{mate()?.eventDateTime | localTime:DATE_FORMATS.DAY_MONTH_TIME }}</ion-label>
    </div>

    @if(dynamicClass() !== 'from-mate-detail'){
    <div class="badge-wrapper">
      <ionic-badge dynamicClass="members-cnt primary">
        <ion-icon [icon]="icons.peopleOutline" class="members-cnt-icon"></ion-icon> {{mate()?.totalVacancy}}
      </ionic-badge>
      <ionic-badge dynamicClass="members-cnt secondary">
        <ion-icon [icon]="icons.peopleOutline" class="members-cnt-icon"></ion-icon> {{mate()?.currentVacancy}}
      </ionic-badge>
    </div>
    }

    @if(dynamicClass() === 'from-join-request'){
    <app-accept-or-reject (approvalClickEmit)="acceptOrRejectEmit($event)"></app-accept-or-reject>
    }

  </ion-col>
  <ion-col size="auto" class="game-detail">
    @if(dynamicClass() === 'from-my-request'){
    <ionic-badge dynamicClass="members-cnt primary event-status">
      {{eventStatus()}}
    </ionic-badge>
    }@else {
    <ion-icon class="sport-icon" [icon]="icons.bicycleOutline"></ion-icon>
    }
  </ion-col>
</ion-row>