<ion-content class="ion-padding list-view">
  <ionic-virtual-scroll [items]="responseList()" [dynamicListClass]="'sports-mate-list'" [dynamicGridClass]="'primary-details'"
   [itemTemplate]="mateTemplate" [noDataTemplate]="emptyTemplate" [onItemClick]="openGroup.bind(this)">
  </ionic-virtual-scroll>

  <ng-template #mateTemplate let-item>
    name : {{item.name}}
    <br>
    
  <!-- <app-mate-basic 
      [mate]="item" 
      [dynamicClass]="'from-accept-invites'">
  </app-mate-basic> -->
</ng-template>

<ng-template #emptyTemplate>
  Navigate to list view
  <!-- <app-no-mate-found></app-no-mate-found> -->
</ng-template>

</ion-content>