<ion-content class="ion-padding list-view">
  <ionic-virtual-scroll [items]="responseList()" [dynamicListClass]="'sports-mate-list'" [dynamicGridClass]="'primary-details'"
   [itemTemplate]="mateTemplate" [noDataTemplate]="emptyTemplate" [onItemClick]="openGroup.bind(this)">
  </ionic-virtual-scroll>

  <ng-template #mateTemplate let-item>
    <app-mate-basic 
        [mate]="item" 
        [dynamicClass]="'from-group-list'">
    </app-mate-basic> 
    <br>
    
</ng-template>

<ng-template #emptyTemplate>
  <app-no-mate-found [dynamicClass]="'from-group-list'"></app-no-mate-found>
</ng-template>

</ion-content>