<ion-content class="signup-page">
  <ion-img src="assets/icon/signup/signup-bg.png" alt="sign up image"></ion-img>
  <div class="ion-padding">
    <h2 class="title">Sign Up</h2>

    <ionic-input label="Name" name="name" path="name" [source]="signup">
    </ionic-input>

    <ionic-input label="Email" type="email" name="email" path="email" [source]="signup">
    </ionic-input>

    <ionic-input label="Password" type="password" name="password" path="password" [source]="signup">
    </ionic-input>

    <ionic-input label="Confirm Password" type="password" name="cPassword" [(value)]="cPassword">
    </ionic-input>

    <ionic-checkbox class="checkbox-container" label="I agree to the terms and conditions" [(value)]="accepted">
    </ionic-checkbox>

    <ionic-button (ionClick)="sendVerification()">Verify</ionic-button>

  </div>
</ion-content>