<ion-content class="signup-page">
  <ion-img src="assets/icon/signup/signup-bg.png" alt="sign up image"></ion-img>
  <div class="ion-padding">
    <h2 class="title">Sign Up</h2>
    <ionic-input label="Email" type="email" [(ngModel)]="email" name="email"></ionic-input>
    <ionic-input label="Password" type="password" [(ngModel)]="password" name="password"></ionic-input>
    <ionic-input label="Confirm Password" type="password" [(ngModel)]="confirmPassword" name="cPassword"></ionic-input>

    <ionic-checkbox class="checkbox-container" label="I agree to the terms and conditions" [(ngModel)]="accepted">
    </ionic-checkbox>

    <ionic-button (ionClick)="sendVerification()">Verify</ionic-button>

  </div>
</ion-content>