$containerPaddingX: 37px;

.signup-page {
  --background: var(--background-color);
  --color: var(--text-color);

  .ion-padding {
    padding-inline-start:#{$containerPaddingX};
    padding-inline-end:#{$containerPaddingX};
  }

  .title {
    margin-bottom: 30px;
    line-height: 33px;
    font-weight: bold;
    margin-top: 16px;
    font-size: 24px;
  }

  .checkbox-container{
    margin-bottom:20px;
    font-weight: bold;
    display: block;
  }

}