<app-header (backClicked)="handleBack()">
  <ion-title class="header-title" slot="start">Profile Details</ion-title>
</app-header>

<ion-content class="ion-padding profile-view">
   <div class="profile-header">
  <app-profile-image [profileImage]="currentUser()!.profileImage"/>
   <h2>{{ currentUser()!.name }}</h2>
    <p>{{ currentUser()!.age }} yrs • {{ currentUser()!.gender }}</p>
  </div>

  <h4>Country : <b>{{ selectedCountry()!.name }}</b></h4>
  <h4>Interested Details :</h4>

  <div class="sports-container">
    @for (sport of selectedSports(); track sport) {
    <ionic-chip [dynamicClass]="'interest-chip selected'">
      {{sport}}
    </ionic-chip>
    }
  </div>
</ion-content>
<ion-footer class="footer">
  <ion-toolbar class="footer-toolbar">
    <ionic-button>Edit Profile</ionic-button>
    <ionic-button fill="outline">Log out</ionic-button>
    <ionic-button color="danger">Delete account</ionic-button>
  </ion-toolbar>
</ion-footer>