<app-header (backClicked)="handleBack()">
  <ion-title class="header-title" slot="start">Profile Details</ion-title>
</app-header>

<ion-content class="ion-padding profile-view">
  <div class="profile-header">
    <app-profile-image [profileImage]="profileUser().profileImage" />
    <h2>{{ profileUser().name }}</h2>
    <p>{{ profileUser().age }} yrs • {{ profileUser().gender }}</p>
  </div>

  <h4>Country : <b>{{ selectedCountry()!.name }}</b></h4>
  @if (isMyProfile()) {
  <h4>Email : <b>{{ profileUser().email }}</b></h4>
  }
  <h4>Interested Details :</h4>

  <div class="sports-container">
    @for (sport of selectedSports(); track sport) {
    <ionic-chip [dynamicClass]="'interest-chip selected'">
      {{sport}}
    </ionic-chip>
    }
  </div>
</ion-content>
@if (isMyProfile()) {
<ion-footer class="footer">
  <ion-toolbar class="footer-toolbar">
    <ionic-button (ionClick)="editProfile()">Edit profile</ionic-button>
    <ionic-button fill="outline" (ionClick)="userService.redirectToLogin()">Log out</ionic-button>
    <ionic-button color="danger" (ionClick)="confirmLogOut.set(true)">Delete account</ionic-button>
  </ion-toolbar>
</ion-footer>
}

<ionic-alert [isOpen]="confirmLogOut()" [heading]="alertHeading()" [buttons]="alertButtons()"
  (dismissed)="onAlertDismissed($event)">
</ionic-alert>