<div class="list-view">
  <ionic-virtual-scroll [items]="displayList()" [dynamicListClass]="'sports-mate-list'"
    [dynamicGridClass]="'primary-details'" [itemTemplate]="mateTemplate" [noDataTemplate]="emptyTemplate"
    [onItemClick]="openMateDetail.bind(this)">
  </ionic-virtual-scroll>
</div>

<ng-template #mateTemplate let-item>
  <app-invites-mate-basic [mate]="item" (isAccepted)="acceptOrReject($event)"></app-invites-mate-basic>
</ng-template>

<ng-template #emptyTemplate>
  <app-no-mate-found></app-no-mate-found>
</ng-template>