/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

@use 'theme/themes';
/* You can add your global custom CSS below */
@use "@fontsource/open-sans";
@use "./ion-overwrite";

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import '@ionic/angular/css/palettes/dark.system.css';

@import '@ng-select/ng-select/themes/default.theme.css';

.bottom-sheet-modal {
    --background: #ffffff;
    /* Use a strong color like white */

    /* 2. Control height and alignment (Crucial for bottom sheet) */
    --height: 1100px;
    // --max-height: 70%; /* Matches your 0.7 initialBreakpoint */
    z-index: 9999 !important;
    /* 3. Apply top rounded corners */
    --border-radius: 20px 20px 0 0;

    /* 4. Target the internal content container (using ::part) */
    /* This ensures the content sits at the bottom of the screen */
    &::part(content) {
        // Ensure the content wrapper respects the border-radius and background
        border-radius: 20px 20px 0 0;
    }

    /* 5. Ensure the backdrop is visible for the overlay effect */
    &::part(backdrop) {
        opacity: 0.5 !important;
    }
}


.fake-bottom-sheet {
    --height: 70vh;
    --border-radius: 16px 16px 0 0;
    align-items: flex-end;
}

.global-spinner {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0000004d;
    pointer-events: all;

    ion-spinner {
        width: 50px;
        height: 50px;
        color: var(--ion-color-primary);
    }
}