<ion-content class="ion-padding outer-container">
  <h2 class="title"> What Sport are<br> you interested in ?</h2>

  <div class="sports-container">
    @for (sport of sports(); track sport.sportID) {
    <ionic-chip (ionClick)="toggleSportSelection(sport.sportID)" [dynamicClass]="getChipClass(sport.sportID)">
      {{sport.sportsName}}
    </ionic-chip>
    }
  </div>
</ion-content>

<ion-footer class="footer">
  <ion-nav-link router-direction="forward" [component]="profileComponent">
    <ionic-button>Continue</ionic-button>
  </ion-nav-link>
</ion-footer>