
@mixin chip-base($color) {
    border: 1px solid $color;
    justify-content: center;
    background: #ffffff;
    color: $color;
    font-size: 16px;
    width: 100%;
    margin: 0;

    &.selected {
        border: 1px solid $color;
        background-color: $color;
        color: #ffffff;
    }
}

.ionic-chip {
    &.interest-chip {
        @include chip-base(var(--ion-color-primary));
    }

    &.reason-chip {
        @include chip-base(var(--ion-color-secondary));
    }

    &.from-join-request {
        font-size: 12px;
    }
}
